@model RealEstate.Rentals.Rental

@{
    ViewBag.Title = "Attach Image";
}

<h2>Attach Image</h2>

@using (Html.BeginForm(null, null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <div class="form-group">
            <label class="control-label col-md-2">Description</label>
            <div class="col-md-10">
                @Model.Description
            </div>
        </div>

        <div class="form-group">


            @Html.Label("Image", new { @class = "control-label col-md-2" })
           
            <div class="col-md-10">
                <label class="btn btn-default">
                    Browse... <input type="file" name="file" id="file" accept="image/*" style="display: none"
                                     onchange="$('#upload-file-info').html(this.files[0].name)">
                </label>
                <span class="label label-default" id="upload-file-info"></span>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Attach Image" class="btn btn-success" />
            </div>
        </div>
    </div>
}
@if (Model.HasImage())
{
    <img src="@Url.Action("GetImage", new {imageId = @Model.ImageId})" />
}
<div>
    @Html.ActionLink("Back to Rental", "Details", routeValues: new { id = Model.Id })
</div>